# Ignore the virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore data files
data/

# Ignore database models (if they are generated or temporary files)
database/models/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db
